.button {
	color: $white;
	font-size: 16px;
	line-height: 1.5;
	padding: 12px 24px;
	border-radius: 8px;
	font-weight: $semi-bold;
	background-color: $blue-1;
	border: 1px solid $blue-2;

	&:active {
		background-color: $blue-0;
	}

	&:disabled {
		color: $grey-3;
		background-color: $grey-4;
		border: 1px solid $grey-3;
	}

	&.full {
		width: 100%;
	}
}
