.input-container {
	display: flex;
	border-radius: 6px;
	padding: 14px 16px;
	background-color: $white;

	.input {
		width: 100%;
		flex-grow: 1;
		line-height: 1;
		font-size: 16px;
		margin-left: 8px;
		letter-spacing: -0.41px;

		&::placeholder {
			color: $grey-3;
		}
		&:active {
			color: $grey-1;
		}
	}

	&.search {
		padding: 10px 16px;
	}
}

.error-message {
	color: $error;
	text-align: left;
}
