// COLORS
$error: #FF2969;
$black: #111111;
$white: #ffffff;
$blue-0: #115CC0;
$blue-1: #2F80ED;
$blue-2: #5999F1;
$blue-3: #97BFF6;
$blue-4: #C1D9FA;
$blue-5: #EAF2FD;
$grey-1: #2C2C2C;
$grey-2: #4F4F4F;
$grey-3: #828282;
$grey-4: #BDBDBD;
$grey-5: #E0E0E0;

// FONTS
$primary-font: 'Inter', sans-serif;

// WEIGHTS
$regular: 400;
$medium: 500;
$semi-bold: 600;

